*{
  margin: 0;
  padding: 0;
}
html, body, #app {
  height: 100%;
  width: 100%;
  color: #606266;
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  line-height: 1.6;
}
li{
  list-style: none;
}
#app{
  padding-right: 3px;
  box-sizing: border-box;
}
button {
  -webkit-app-region: no-drag;
}

.el-dialog{
  border-radius: 8px!important;
}

