@font-face {
  font-family: "iconfont"; /* Project id 1950526 */
  src: url('iconfont.woff2?t=1668161816520') format('woff2'),
       url('iconfont.woff?t=1668161816520') format('woff'),
       url('iconfont.ttf?t=1668161816520') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e629";
}

.icon-homefill:before {
  content: "\e6bb";
}

.icon-jiaobenguanli:before {
  content: "\e698";
}

.icon-SVN:before {
  content: "\e6be";
}

.icon-zuixiaohua:before {
  content: "\e627";
}

.icon-guanbi1:before {
  content: "\e600";
}

.icon-zuixiaohua1:before {
  content: "\e601";
}

